html {
   font-size: 70%;
}
header {
   height: 27rem;
}
header img {
   width: 19.5rem;
   height: 3.12rem;
   margin-top: 4rem;
}
.header__title--container .header__button {
   top: 24.5rem;
}
.know-it__title {
   font-size: 3.3rem;
}
.plans__cards--container {
   overflow-x: hidden;
   justify-content: center;
}
.plans__card--description {
   padding: 0 0.4rem;
}